@import "../../App.scss";

header {
  // outline: 1px solid red;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 0;
  z-index: 99999;
  transition: all 1.2s;


  h4 {
    font-size: $subtitle;
    z-index: 9999;
  }

  button {
    display: none;
    cursor: pointer;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 5px;
  }

  ul li a span {
    transition: all .4s;
  }

  ul li a span:hover {
    color: $red;
  }

  ul li a span::after {
    content: "";
    display: block;
    width: 8px;
    border: 1px solid $white;
    margin: 0 auto;
    margin-top: 5px;
    opacity: 0;
    transition: all .4s;
  }

  ul li a span:hover::after {
    opacity: 1;
  }

  .header-media-section {
    display: none;
  }
  



  @media (max-width: 768px) {
    position: sticky;
    top: 0;

    #hamb-icon {
      content: '';
      display: block;
      border-top: 2px solid $grey;
      width: 20px;
      position: relative;
      top: -2px;
      transition: all .3s;
    }

    #hamb-icon::after {
      content: '';
      display: block;
      border: 1px solid $grey;
      width: 18px;
      position: relative;
      top: 5px;
      transition: all .3s;
    }

    .icon-active #hamb-icon {
      transform: rotate(-50deg);
      top: 2px;
    }

    .icon-active #hamb-icon::after {
      transform: rotate(100deg);
      top: -2px;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      background-color: transparent;
      border: none;
      color: $white;
      font-size: 18px;
    }

    ul {
      position: absolute;
      top: 0;
      flex-direction: column;
      font-size: 18px;
      width: 100%;
      height: 210px;
      padding: 2rem 0;
      background: linear-gradient(90deg, rgb(14, 14, 14, .9) 0%, rgb(14, 14, 14, .9) 100%);
      border-radius: 20px;
      border: 1px solid $grey;

      transition: all .4s;
      opacity: 0;
      visibility: hidden;
    }

    .menuActive {
      opacity: 1;
      visibility: visible;
      top: 4.6rem;
    }

    ul li a span {
      color: $white;
    }

    ul li a span:hover {
      color: $red;
    }

  }
}

.header-active {
  // polimorfismo in background
  background-color: rgb(14, 14, 14, .9);
}